 <form action="/edit/{{product._id}}" method="POST">
            <h2>Edit a Product</h2>
                <div class="nameOfProduct">
                    <input 
                        name="nameOfProduct"
                        type="text"
                        placeholder="Name Of Product"
                        value="{{product.nameOfProduct}}"
                    >
                </div>
                <div class="priceOfProduct">
                    <input 
                        name="price"
                        type="number"
                        placeholder="Price Of Product"
                        value="{{product.price}}"
                    >
                </div>
                <div class="imageOfProduct">
                    <input 
                      name="img"
                      type="text"
                      placeholder="Image Of Product"
                      value="{{product.img}}"
                    >
                </div>
                <div class="categoryOfProduct">
                    <select name="category">
                        <option value="tcdsymos">Teclados y Mouse</option>
                        <option value="monitores">Monitores</option>
                        <option value="audifonos">Audifonos</option>
                        <option value="usb">Memorias USB</option>
                        <option value="microsd">Memorias MicroSd</option>
                        <option value="bocinas">Bocinas</option>
                        <option value="tntsytnrs">Tintas y Toners</option>
                        <option value="cables">Cables</option>
                        <option value="redes">Redes</option>
                        <option value="fdp">Fuentes de poder</option>
                        <option value="reguladores">Reguladores</option>
                    </select>
                </div>
                 <div class="showornot">
                    <select name="show">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
                <div class="button"><button>Add Product</button></div>
</form>